<div className="frame">
    <div className="title">
        <h1>SIGN UP</h1>
    </div>
    <div className="inputField">
        <input className="special" type="text" placeholder="Enter account" name="name" />
        <div className="input">
            <input type="text" className="special" placeholder="Enter email" name="email" />
        </div>
        <div className="input">
            <input type="password" className="special" placeholder="Enter password again" name="password" />
        </div>
    </div>
    <div className="submit">
        <button className="submit-1">
            <a className="submit-1" href="/read">Sign Up</a>
        </button>
    </div>
</div>