
<div className="frame">
    <div className="title">
        <h1>ABOUT ACCOUNT</h1>
    </div>
    <div className="inputField">
        <input className="special" type="text" placeholder="Enter account (email)" name="email"/>
        <div className="input">
            <input type="password" className="special" placeholder="Enter password" name="password"/>
        </div>
    </div>
    <div className="submit">
        <button className="submit-1" type="submit">
            <a className="submit-1" href="">Check</a>
        </button>
    </div>
</div>